{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Storage method",
    instructions: "Where to save the tracked data.",
    id: "storageMethod",
    name: "storageMethod",
    options: {
        'session': "Session",
        'cookies': "Cookies",
    },
    value: settings.storageMethod,
    errors: settings.getErrors("storageMethod"),
    toggle: true
}) }}

<div id="cookies"{% if settings.storageMethod != 'cookies' %} class="hidden"{% endif %}>
    <div id="storageMethod-cookies-fields">
        {{ forms.textField({
            label: "Cookie name",
            instructions: "The key to store the cookie data",
            id: 'cookieName',
            name: 'cookieName',
            value: settings.cookieName,
            required: true,
            errors: settings.getErrors('cookieName')
        }) }}
        {{ forms.textField({
            label: "Cookie lifetime (seconds)",
            instructions: "The number of seconds to let the cookie expire",
            id: 'cookieLifetime',
            name: 'cookieLifetime',
            value: settings.cookieLifetime,
            errors: settings.getErrors('cookieLifetime'),
            type: 'number',
            required: true,
            min: 0,
        }) }}
    </div>
</div>

{{ forms.editableTableField({
    label: 'Trackable tag keys',
    instructions: 'These query parameters will be saved in the session when set in the request URL',
    name: "trackableTags",
    id: "trackableTags",
    cols: {
        'key': {
            type: 'textarea',
            heading: 'Tag key',
            rows: 1
        },
    },
    rows: settings.trackableTags,
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
    addRowLabel: 'Add a tag key',
    errors: settings.getErrors('trackableTags'),
    required: true
})|spaceless }}